body {
  /*font-family: 'Noto Sans', sans-serif;*/
  margin: 0;
}
body .header {
  width: 100%;
}
body .header .header-wraper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 48px;
  height: 99px;
}
body .header .header-wraper a {
  text-decoration: none;
  color: black;
}
body .header .header-wraper .header-logo {
  width: 51px;
  height: 51px;
}
body .header .header-wraper .header-logo svg {
  width: 51px;
  height: 51px;
}
body .header .header-wraper .header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
body .header .header-wraper .header-menu .menu-nav {
  padding: 0 24px;
  display: block;
  flex-shrink: 0;
}
body .header .header-wraper .header-menu .menu-nav ul {
  /*display: flex;
              flex-direction: row;*/
  list-style-type: none;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: block;
}
body .header .header-wraper .header-menu .menu-nav ul .nav-2 {
  padding-left: 24px;
}
body .header .header-wraper .header-menu .menu-nav ul .nav-3 {
  padding-left: 24px;
}
body .header .header-wraper .header-menu .menu-nav ul a {
  padding: 40px 0;
  font-weight: 700;
}
body .header .header-wraper .header-menu .menu-nav ul a:hover {
  color: darkgreen;
}
body .header .header-wraper .header-menu .menu-nav ul li {
  display: inline-block;
}
body .header .header-wraper .header-menu .menu-entrance {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .header .header-wraper .header-menu .menu-entrance .entrance-in_now {
  order: 1;
  font-weight: 600;
}
body .header .header-wraper .header-menu .menu-entrance .entrance-in_now a {
  border: 1px solid;
  border-radius: 20px;
  padding: 7px 16px;
  transition: all 0.2s ease;
  margin: 0;
}
body .header .header-wraper .header-menu .menu-entrance .entrance-in_now .in-button {
  margin-right: 16px;
}
body .header .header-wraper .header-menu .menu-entrance .entrance-in_now .in-button:hover {
  background-color: rgba(169, 169, 169, 0.212);
}
body .header .header-wraper .header-menu .menu-entrance .entrance-in_now .now-button {
  color: white;
  background-color: black;
  border: none;
}
body .header .header-wraper .header-menu .menu-entrance .entrance-in_now .now-button:hover {
  opacity: 0.7;
}
body .header .header-wraper .header-menu .menu-entrance a.findStore {
  min-width: 32px;
  min-height: 32px;
  margin-right: 40px;
  display: inline-block;
}
body .header .header-wraper .header-menu .menu-entrance a.findStore svg {
  padding-right: 8px;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
body .wraper-title {
  background-color: #1E3932;
  box-sizing: border-box;
  margin-bottom: 32px;
}
body .wraper-title .title {
  display: flex;
  justify-content: center;
  color: white;
  padding: 32px 24px;
}
body .wraper-title .title .title2 {
  max-width: 60%;
  text-align: center;
}
body .wraper-title .title .title2 .title-h1 h1 {
  margin: 0;
}
body .wraper-title .title .title2 .title-h1 h1 span {
  font-size: 24px;
}
body .wraper-title .title .title2 .title-text {
  padding-top: 24px;
}
body .wraper-title .title .title2 .title-text p {
  font-size: 18px;
  line-height: 1.75;
  font-weight: 700;
  margin: 0;
}
body .wraper-title .title .title2 .title-text p a {
  color: white;
}
body .wraper-item {
  display: flex;
  flex-direction: row-reverse;
  background-color: #1E3932;
  margin-bottom: 32px;
}
body .wraper-item .item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body .wraper-item .item-img img {
  max-width: 100%;
  height: auto;
}
body .wraper-item .item-text {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body .wraper-item .item-text .text-wraper {
  text-align: center;
  color: white;
  max-width: 83%;
}
body .wraper-item .item-text .text-wraper h1 {
  letter-spacing: 8px;
  font-size: 50px;
  margin: 0;
  margin-bottom: 24px;
}
body .wraper-item .item-text .text-wraper h1 span {
  font-weight: bold;
}
body .wraper-item .item-text .text-wraper .text {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
}
body .wraper-item .item-text .text-wraper a {
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  padding: 7px 16px;
  background-color: #1E3932;
  transition: all 0.2s ease;
  font-weight: 600;
}
body .wraper-item .item-text .text-wraper a:hover {
  background-color: rgba(206, 212, 211, 0.123);
}
body .wraper-item2 {
  display: flex;
  flex-direction: row;
  background-color: #D4E9E2;
  margin-bottom: 32px;
}
body .wraper-item2 .item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body .wraper-item2 .item-img img {
  max-width: 100%;
  height: auto;
}
body .wraper-item2 .item-text {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body .wraper-item2 .item-text .text-wraper {
  text-align: center;
  color: #1E3932;
  max-width: 83%;
}
body .wraper-item2 .item-text .text-wraper h1 {
  letter-spacing: 8px;
  font-size: 50px;
  margin: 0;
  margin-bottom: 24px;
}
body .wraper-item2 .item-text .text-wraper h1 span {
  font-weight: bold;
}
body .wraper-item2 .item-text .text-wraper .text {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
}
body .wraper-item2 .item-text .text-wraper a {
  border: 1px solid #1E3932;
  border-radius: 20px;
  color: #1E3932;
  text-decoration: none;
  padding: 7px 16px;
  background-color: #D4E9E2;
  transition: all 0.2s ease;
  font-weight: 600;
}
body .wraper-item2 .item-text .text-wraper a:hover {
  background-color: rgba(206, 212, 211, 0.623);
}
body .wraper-item3 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 32px;
}
body .wraper-item3 .item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body .wraper-item3 .item-img img {
  max-width: 100%;
  height: auto;
}
body .wraper-item3 .item-text {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body .wraper-item3 .item-text .text-wraper {
  text-align: center;
  max-width: 83%;
}
body .wraper-item3 .item-text .text-wraper h1 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
}
body .wraper-item3 .item-text .text-wraper .text {
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 32px;
}
body .wraper-item3 .item-text .text-wraper a {
  border: 1px solid;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  padding: 7px 16px;
  transition: all 0.2s ease;
  font-weight: 600;
}
body .wraper-item3 .item-text .text-wraper a:hover {
  background-color: rgba(206, 212, 211, 0.219);
}
body .wraper-item4 {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}
body .wraper-item4 .item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body .wraper-item4 .item-img img {
  max-width: 100%;
  height: auto;
}
body .wraper-item4 .item-text {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body .wraper-item4 .item-text .text-wraper {
  text-align: center;
  max-width: 83%;
}
body .wraper-item4 .item-text .text-wraper h1 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
}
body .wraper-item4 .item-text .text-wraper .text {
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 32px;
}
body .wraper-item4 .item-text .text-wraper a {
  border: 1px solid;
  border-radius: 20px;
  color: black;
  text-decoration: none;
  padding: 7px 16px;
  transition: all 0.2s ease;
  font-weight: 600;
}
body .wraper-item4 .item-text .text-wraper a:hover {
  background-color: rgba(206, 212, 211, 0.219);
}
body .wraper-site {
  box-sizing: border-box;
}
body .wraper-site .wraper-site2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 40px;
  text-align: center;
}
body .wraper-site .wraper-site2 .site-text {
  max-width: 60%;
  box-sizing: inherit;
}
body .wraper-site .wraper-site2 .site-text .text-info {
  font-size: 13px;
  line-height: 1.8;
}
body .wraper-site .wraper-site2 .site-text .text-info p {
  margin: 0;
}
body .wraper-site .wraper-site2 .site-text .text-info p a {
  color: black;
}
body footer {
  padding: 24px 40px;
}
body footer .footer-menu {
  display: flex;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
}
body footer .footer-menu .menu-decstop {
  width: 180px;
  max-width: 180px;
  display: inline-block;
}
body footer .footer-menu .menu-decstop h3 {
  margin-bottom: 24px;
  line-height: 1.411;
}
body footer .footer-menu .menu-decstop ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
body footer .footer-menu .menu-decstop ul a {
  color: rgba(0, 0, 0, 0.56);
  text-decoration: none;
  padding: 8px 0;
  margin-bottom: 8px;
  display: block;
}
body footer .footer-menu .menu-decstop ul a:hover {
  color: black;
}
body footer .footer-menu .mp {
  margin-left: 32px;
}
body footer .footer-menu .menu-hidden {
  display: none;
}
body footer nav.icon {
  display: block;
}
body footer nav.icon ul.icon-svg {
  display: flex;
  margin: 0;
  margin-left: -5px;
  padding: 0;
  list-style: none;
}
body footer nav.icon ul.icon-svg li {
  margin-right: 4px;
}
body footer nav.icon ul.icon-svg li a {
  min-width: 44px;
  min-height: 44px;
  transition: 0.3s ease;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}
body footer nav.icon ul.icon-svg li a:hover {
  background-color: rgba(128, 128, 128, 0.3);
}
body footer nav.icon ul.icon-svg li a svg {
  padding-top: 7px;
}
body footer ul.footer-www {
  margin: 16px 0 4px;
  display: flex;
  padding: 0;
}
body footer ul.footer-www li {
  display: flex;
  align-items: center;
  text-align: center;
}
body footer ul.footer-www li span {
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.56);
  display: inline;
}
body footer ul.footer-www li a.a {
  padding-right: 16px;
}
body footer ul.footer-www li a {
  padding: 0 16px;
  text-decoration: none;
  color: black;
}
body footer ul.footer-www li a:hover {
  text-decoration: underline black;
}
body footer p {
  color: rgba(0, 0, 0, 0.56);
  margin: 0;
  padding: 16px 0;
  font-size: 14px;
}
