body {
  margin: 0;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
body header {
  position: fixed;
  z-index: 111;
}
body .content {
  padding-top: 99px;
}
body .content .wraper-subnav {
  padding: 0 48px;
  border: 1px solid #dbd9d7;
  position: fixed;
  width: 100%;
  z-index: 111;
  background-color: #f7f7f7;
}
body .content .wraper-subnav .subnav {
  margin-left: 50px;
}
body .content .wraper-subnav .subnav ul {
  padding-left: 24px;
  display: flex;
}
body .content .wraper-subnav .subnav ul li {
  padding-right: 40px;
}
body .content .wraper-subnav .subnav ul li .nav-a {
  padding: 16px 0;
  color: rgba(0, 0, 0, 0.87);
  display: block;
}
body .content .wraper-subnav .subnav ul li .before {
  position: relative;
}
body .content .wraper-subnav .subnav ul li .before::before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 12px;
  border-bottom: 1px solid;
}
body .content .contentSubnavMenu {
  padding: 53px 0 0 123px;
  background-color: #f7f7f7;
  display: flex;
}
body .content .contentSubnavMenu .contentSubnav {
  padding: 16px 0;
  flex-basis: 150px;
}
body .content .contentSubnavMenu .contentSubnav section h4 {
  margin: 0;
  margin-top: 24px;
  font-weight: 600;
  font-size: 15px;
}
body .content .contentSubnavMenu .contentSubnav section ul li {
  margin: 16px 0;
}
body .content .contentSubnavMenu .contentSubnav section ul li a {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.56);
}
body .content .contentSubnavMenu .contentMenu {
  padding: 40px 9% 0 127px;
  flex: 1 1 0;
}
body .content .contentSubnavMenu .contentMenu h1 {
  padding-bottom: 48px;
  font-weight: 700;
  font-size: 23px;
  margin: 0;
}
body .content .contentSubnavMenu .contentMenu section {
  padding-bottom: 40px;
}
body .content .contentSubnavMenu .contentMenu section h2 {
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 1.263;
  font-weight: 700;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 32px;
}
body .content .contentSubnavMenu .contentMenu section .menu {
  margin: 0 -4px;
  box-sizing: border-box;
  text-align: left;
}
body .content .contentSubnavMenu .contentMenu section .menu .wraper-item {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 0 4px;
  margin-bottom: 32px;
  width: 49%;
  box-sizing: inherit;
}
body .content .contentSubnavMenu .contentMenu section .menu .wraper-item .menu-item {
  display: flex;
  align-items: center;
  box-sizing: inherit;
}
body .content .contentSubnavMenu .contentMenu section .menu .wraper-item .menu-item .img {
  width: 100%;
  max-width: 112px;
  margin-right: 16px;
}
body .content .contentSubnavMenu .contentMenu section .menu .wraper-item .menu-item .img img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
}
body .content .contentSubnavMenu .contentMenu section .menu .wraper-item .menu-item h3 {
  font-size: 20px;
  line-height: 1.263;
  font-weight: 400;
  margin: 0;
}
