@media (max-width: 1200px) {
  body .wraper .header .header-wraper_logo_nav .nav-navigator .site-navigator-wraper .navigator-wraper .navigator-site .site-language {
    margin: 0;
  }
  body .wraper .header .header-wraper_logo_nav .nav-navigator .site-navigator-wraper .navigator-wraper .navigator-site .site-language button .language-picker {
    display: none;
  }
  body .wraper .main-content .content .content-posts_featured .posts-featured-grid-wrap .posts-featured-grid .posts_grid-item .grid_item-link .grid_item-title h2 {
    font-size: 22px;
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-sidebar {
    padding: 40px;
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-block {
    padding: 40px;
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-block .posts-list {
    margin: 40px 0;
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-block .posts-list .posts-list-item {
    margin-bottom: 20px;
  }
}
@media (max-width: 1100px) {
  body .wraper .header .header-wraper_logo_nav {
    height: 70px;
    justify-content: center;
  }
  body .wraper .header .header-wraper_logo_nav .nav-navigator {
    display: none;
  }
  body .wraper .header .header-wraper_logo_nav .logo {
    min-width: 108px;
    max-width: 108px;
  }
  body .wraper .main-content {
    margin: 70px auto 100px;
  }
}
@media (max-width: 990px) {
  body .wraper .main-content .content .content-posts_featured .posts-featured-grid-wrap {
    margin: 0 40px;
    width: calc(100% - 80px);
  }
  body .wraper .main-content .content .content-posts_featured .posts-featured .article-posts_featured .posts_featured-link .posts_featured-title h1 {
    font-size: 40px;
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-block .posts-list {
    margin: 20px 0;
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-block .posts-list .posts-list-item .news-article .list-item-link h3 {
    font-size: 20px;
  }
  body .wraper .main-content .content .content-wrap .tabs-viewed .tab-group .tab-content .card-grid .card-grid-item .card-grid-item-link .card-grid-item-title-contain h2 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  body .wraper .main-content .content .content-posts_featured .posts-featured-grid-wrap {
    margin: 0 auto;
    width: 100%;
  }
  body .wraper .main-content .content .content-posts_featured .posts-featured-grid-wrap .posts-featured-grid .posts_grid-item .grid_item-link .grid_item-img-wrap .grid_item-images {
    padding-top: 100%;
  }
  body .wraper .main-content .content .content-posts_featured .posts-featured .article-posts_featured .posts_featured-link .article-images .article-hero {
    padding-top: 90%;
  }
  body .wraper .main-content .content .content-wrap .tabs-viewed .tab-control .tab-list-contain .tab-list {
    font-size: 14px;
    letter-spacing: 1px;
  }
  body .wraper .main-content .content .content-wrap .tabs-viewed .tab-control .tab-list-contain .tab-list .tab-item a {
    padding: 10px;
  }
  body .wraper .main-content .content .content-wrap .tabs-viewed .tab-group .tab-content .card-grid .card-grid-item {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    width: calc(50% - 20px);
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-sidebar {
    padding: 20px;
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-block {
    padding: 20px;
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-block .posts-list {
    margin: 20px 0;
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-block .posts-list .posts-list-item {
    margin-bottom: 16px;
  }
  body .wraper .site-footer .site-footer-container .footer-nav .nav-ul {
    flex-flow: column nowrap;
  }
  body .wraper .site-footer .site-footer-container .language-switcher {
    flex-flow: column nowrap;
  }
}
@media (max-width: 570px) {
  body .wraper .main-content .content .content-posts_featured .posts-featured .article-posts_featured .posts_featured-link .posts_featured-title h1 {
    font-size: 20px;
  }
  body .wraper .main-content .content .content-posts_featured .posts-featured-grid-wrap .posts-featured-grid {
    flex-flow: column nowrap;
    width: calc(100% + 20px);
  }
  body .wraper .main-content .content .content-posts_featured .posts-featured-grid-wrap .posts-featured-grid .posts_grid-item {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin: 0 10px 20px;
  }
  body .wraper .main-content .content .content-posts_featured .posts-featured-grid-wrap .posts-featured-grid .posts_grid-item .grid_item-link .grid_item-title {
    width: 80%;
  }
  body .wraper .main-content .content .content-wrap {
    width: calc(100% + 20px);
    margin: 0 -10px 20px;
  }
  body .wraper .main-content .content .content-wrap .layout-2col {
    flex-flow: column nowrap;
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-sidebar {
    padding: 10px 20px;
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
  }
  body .wraper .main-content .content .content-wrap .layout-2col .layout-block {
    max-width: calc(100% - 20px);
    width: calc(100% - 20px);
    padding: 10px 20px;
  }
  body .wraper .main-content .content .content-wrap .tabs-viewed .tab-group .tab-content .card-grid {
    flex-flow: column nowrap;
  }
  body .wraper .main-content .content .content-wrap .tabs-viewed .tab-group .tab-content .card-grid .card-grid-item {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
}
